<div class="container-fluid">
  <div class="row m-1 mt-5">
    <div class="col-md-4">
      <dashboard-summary-card
        [title]="dashboardTexts.dashboardYearly"
        [values]="dashboardYearlySummary"
        *ngIf="dashboardYearlySummary"
      >
      </dashboard-summary-card>
      <div id="dashboard-yearly-bubble"></div>
      <bubble-chart *ngIf="dashboardYearlyBubble" [selector]="'#dashboard-yearly-bubble'" [data]="dashboardYearlyBubble"></bubble-chart>
    </div>
    <div class="col-md-4">
      <dashboard-summary-card
        [title]="dashboardTexts.dashboardMonthly"
        [values]="dashboardMonthlySummary"
        *ngIf="dashboardMonthlySummary"
      >
      </dashboard-summary-card>
      <div id="dashboard-monthly-bubble"></div>
      <bubble-chart *ngIf="dashboardMonthlyBubble" [selector]="'#dashboard-monthly-bubble'" [data]="dashboardMonthlyBubble"></bubble-chart>
    </div>
    <div class="col-md-4">
      <dashboard-summary-card
        [title]="dashboardTexts.dashboardDaily"
        [values]="dashboardDailySummary"
        *ngIf="dashboardDailySummary"
      >
      </dashboard-summary-card>
      <div id="dashboard-daily-bubble"></div>
      <bubble-chart *ngIf="dashboardDailyBubble" [selector]="'#dashboard-daily-bubble'" [data]="dashboardDailyBubble"></bubble-chart>
    </div>
  </div>
  <div class="row m-1 mt-5">
    <div class="col-md-4">
      <horizontal-bar-chart></horizontal-bar-chart>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
</div>
