@import "../../constants/variables.scss";

.navbar {
  line-height: 1;
  padding: 0 1rem;

  .navbar-brand {
    img {
      width: 30px;
    }
  }

  &.bg-dark {
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(
      top,
      rgba(255, 255, 255, 1) 0%,
      rgba(246, 246, 246, 1) 47%,
      rgba(234, 234, 234, 1) 100%
    );
    background: -webkit-gradient(
      left top,
      left bottom,
      color-stop(0%, rgba(255, 255, 255, 1)),
      color-stop(47%, rgba(246, 246, 246, 1)),
      color-stop(100%, rgba(234, 234, 234, 1))
    );
    background: -webkit-linear-gradient(
      top,
      rgba(255, 255, 255, 1) 0%,
      rgba(246, 246, 246, 1) 47%,
      rgba(234, 234, 234, 1) 100%
    );
    background: -o-linear-gradient(
      top,
      rgba(255, 255, 255, 1) 0%,
      rgba(246, 246, 246, 1) 47%,
      rgba(234, 234, 234, 1) 100%
    );
    background: -ms-linear-gradient(
      top,
      rgba(255, 255, 255, 1) 0%,
      rgba(246, 246, 246, 1) 47%,
      rgba(234, 234, 234, 1) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(246, 246, 246, 1) 47%,
      rgba(234, 234, 234, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=0 );
  }

  .navbar-toggler {
    background: $color-light-gray;
    padding: 0.25rem;

    .navbar-toggler-icon {
      color: $color-red;
      width: 1em;
      height: 1em;
    }
  }

  .nav-link {
    font-size: 20px;
    padding: 0.7rem 1rem;

    &:focus,
    &:hover {
      background-color: $color-white;
      color: $color-black;
      animation: shake 0.5s;
    }

    .fa-chart-pie {
      color: $color-red;
    }

    .fa-file-invoice {
      color: $color-blue;
    }

    .fa-file-alt {
      color: $color-yellow;
    }

    .fa-chart-line {
      color: $color-pink;
    }

    .fa-search {
      color: $color-violet;
    }

    .fa-cog {
      color: $color-light-blue;
    }

    .fa-sign-out-alt {
      color: $color-orange;
    }
  }
}
