<div class="dashboard-summary-card">
  <div>{{ title }}</div>
  <div class="d-flex justify-content-between">
    <span>Earnings:</span> <span>{{ values.currentEarnings.toLocaleString() }} </span>
  </div>
  <div class="d-flex justify-content-between">
    <span>Spendings:</span> <span>{{ values.currentSpendings.toLocaleString() }}</span>
  </div>
  <div class="d-flex justify-content-between">
    <span>Remainings:</span> <span>{{ values.currentRemainings.toLocaleString() }}</span>
  </div>
</div>
